body{
    background: url('https://cdn5.f-cdn.com/contestentries/190907/14927212/5522b90f0c34c_thumb900.jpg'); 
    
    color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
}

#root{
    background-color: rgba(0,0,0,0.35);
}

.table{
    margin:5px;
}